<div [hidden]="!exists">
    <h2>{{ name }}</h2>

    <ngx-datatable class="material"
                   [hidden]="!exists"

                   [columnMode]="'force'"
                   [columns]="tableHeaders"
                   [count]="meta.totalRows"
                   [externalPaging]="true"
                   [externalSorting]="true"
                   [footerHeight]="50"
                   [limit]="limit"
                   [loadingIndicator]="loading"
                   [headerHeight]="40"
                   [offset]="page.number"
                   [rowHeight]="'auto'"
                   [rows]="page.data"

                   (page)="setPage($event)"
                   (sort)="onSort($event)">
    </ngx-datatable>

    <ng-template #cellTemplate let-row="row" let-value="value">
        <span class="null-cell" *ngIf="value === ''">null</span>
        <span *ngIf="value !== ''">{{ value }}</span>
    </ng-template>
</div>

<p [hidden]="exists">Table not found</p>
