<md-progress-bar [style.visibility]="loading ? 'visible' : 'hidden'" mode="indeterminate"></md-progress-bar>
<div [hidden]="!exists">
    <h1 class="mat-display-1">{{ name }}</h1>
    <h4 class="table-description" *ngIf="meta && meta.comment.trim() !== ''">"{{ meta.comment }}"</h4>

    <ngx-datatable class="material"
                   [hidden]="!exists"

                   [columnMode]="'force'"
                   [columns]="tableHeaders"
                   [count]="meta ? meta.totalRows : 0"
                   [externalPaging]="true"
                   [externalSorting]="true"
                   [footerHeight]="50"
                   [limit]="limit"
                   [headerHeight]="50"
                   [offset]="pageNumber - 1"
                   [rowHeight]="'auto'"
                   [rows]="data"

                   (page)="onPaginate($event)"
                   (sort)="onSort($event)">
    </ngx-datatable>

    <ng-template #headerTemplate let-column="column" let-sort="sortFn">
        <span class="header-container" (click)="sort()">
            <constraint-icons [constraints]="constraints[column.name]"></constraint-icons>
            {{ column.name }}
        </span>
    </ng-template>

    <ng-template #cellTemplate let-row="row" let-value="value">
        <span class="null-cell" *ngIf="value === ''">null</span>
        <span *ngIf="value !== ''">{{ value }}</span>
    </ng-template>
</div>

<div [hidden]="exists" class="not-found-container">
    <h1 class="mat-headline">Table not found</h1>
    <p>Pick one out from the sidebar</p>
</div>

