<md-progress-bar [style.visibility]="loading ? 'visible' : 'hidden'" mode="indeterminate"></md-progress-bar>
<div [hidden]="!exists">
    <h1 class="mat-display-1">{{ name }}</h1>
    <h4 class="table-description" *ngIf="meta.comment.trim() !== ''">"{{ meta.comment }}"</h4>

    <ngx-datatable class="material"
                   [hidden]="!exists"

                   [columnMode]="'force'"
                   [columns]="tableHeaders"
                   [count]="meta.totalRows"
                   [externalPaging]="true"
                   [externalSorting]="true"
                   [footerHeight]="50"
                   [limit]="limit"
                   [headerHeight]="50"
                   [offset]="pageNumber"
                   [rowHeight]="'auto'"
                   [rows]="data"

                   (page)="onPaginate($event)"
                   (sort)="onSort($event)">
    </ngx-datatable>

    <ng-template #headerTemplate let-column="column" let-sort="sortFn">
        <span class="header-container" (click)="sort()">
            <span *ngIf="hasConstraint(column.name, 'primary')"
                class="header-icon"
                [inlineSVG]="keyIcon"
                title="this column is a primary key"></span>
            <span *ngIf="hasConstraint(column.name, 'foreign')"
                class="header-icon"
                [inlineSVG]="keyChangeIcon"
                [title]="'this column references the table ' + getConstraint(column.name, 'foreign').foreignTable + ' (column ' + getConstraint(column.name, 'foreign').foreignColumn + ')'"></span>
            <span *ngIf="hasConstraint(column.name, 'unique')"
                class="header-icon"
                [inlineSVG]="snowflakeIcon"
                title="this column contains only unique values"></span>

            <span *ngIf="hasConstraint(column.name, 'foreign'); else notFK">
                <a class="fk-header-link" [routerLink]="['/tables', getConstraint(column.name, 'foreign').foreignTable]">{{ column.name }}</a>
            </span>
            <ng-template #notFK>
                {{ column.name }}
            </ng-template>
        </span>
    </ng-template>

    <ng-template #cellTemplate let-row="row" let-value="value">
        <span class="null-cell" *ngIf="value === ''">null</span>
        <span *ngIf="value !== ''">{{ value }}</span>
    </ng-template>
</div>

<div [hidden]="exists" class="not-found-container">
    <h1 class="mat-headline">Table not found</h1>
    <p>Pick one out from the sidebar</p>
</div>

