.null-cell {
  background-color: #E0E0E0;
  font-family: "Roboto Mono", Consolas, Monaco, "Courier New", monospace;
  font-size: 0.8rem;
  padding: 3px;
  border-radius: 4px;
}

.header-icon {
  fill: rgba(0, 0, 0, 0.54);
  padding-right: 7px;
}

.header-container {
  display: flex;
  min-height: 35px;
}
