.api-docs h2 {
  font-family: "Roboto Mono", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

.page-content {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;
}

.toc {
  padding: 30px;
  min-width: 400px;
}

.toc .toc-link {
  text-decoration: none;
  line-height: 1.5rem;
}

.sticky {
  position: sticky;
  top: 0px;
  align-self: flex-start;
}

.local-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.local-header-wrapper h1, .local-header-wrapper h2 {
  display: inline;
}

.local-header-wrapper a.header-link {
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.30);
  font-size: 1.2rem;
  text-decoration: none;
  transition: color 200ms;
}

.local-header-wrapper a.header-link:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.84);
}

.chip {
  border-radius: 3px;
  padding: 0.2em 0.4em;
  color: white;
}

.chip-accepts {
  background-color: #388E3C;
}

.chip-returns {
  background-color: #1976D2;
}

.monospace {
  font-family: "Roboto Mono", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-size: 85%;
}
