header {
  height: 100vh;
  min-height: 500px;
}

.ptable-el {
  min-width: 300px;
  min-height: 300px;
}

.ptable-el > h1 {
  font-size: 8rem;
}

.ptable-el > h2 {
  font-size: 2rem;
}

a[data-featherlight] > img, section.with-media div.content video {
  max-height: 200px;
  margin: 20px;
  border: 2px solid rgba(0, 0, 0, 0.54);
}

section.with-media div.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 700px) {
  section.with-media div.content {
    flex-direction: column;
  }
}
