<p *ngIf="!(submittable$ | async)" class="unsubmittable-message">This form is unsubmittable due to a required blob column.</p>

<div *ngFor="let partTableData of (data$ | async); index as i" class="partial-form-container">
    <partial-form
        [meta]="partTableData.meta"
        [role]="i === 0 ? 'master' : 'part'"
        [initialData]="partTableData.initialForm"
    ></partial-form>
</div>

<div class="submit-button-wrapper">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()" [disabled]="!(validityChange | async)">SUBMIT</button>
</div>

<p *ngIf="preview" class="preview-mode-msg">Note: Data created in preview mode won't be available after a refresh.</p>
