<div *ngIf="exists; else tableNotFound">
    <h2>{{ name }}</h2>

    <ngx-datatable class="material"
                   [columnMode]="'force'"
                   [columns]="tableHeaders"
                   [rows]="page.data"
                   [limit]="limit"
                   [headerHeight]="40"
                   [footerHeight]="50"
                   [externalPaging]="true"
                   [offset]="page.number"
                   [count]="meta.totalRows"
                   (page)="setPage($event)">
    </ngx-datatable>
</div>

<ng-template #tableNotFound>
    <p>Table not found</p>
</ng-template>
