.special-cell {
  background-color: #E0E0E0;
  font-family: "Roboto Mono", Consolas, Monaco, "Courier New", monospace;
  font-size: 0.8rem;
  padding: 3px;
  border-radius: 4px;
}

.header-container {
  min-height: 35px;
  cursor: pointer;
}

h1 {
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.not-found-container {
  text-align: center;
}

.table-description {
  font-size: 1.1rem;
  font-style: italic;
  font-weight: normal;
}

.table-container {
  display: flex;
  overflow: auto;
}

mat-cell {
  overflow: visible;
  transition: width 0.3s;
}

.cell-content {
  white-space: nowrap;
  overflow: hidden;
}

mat-cell, mat-header-cell {
  flex: none;

  display: flex;
  align-items: center;
}

mat-header-cell {
  cursor: pointer;
  user-select: none;
}

.sort-indicator-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
}

.col-resizer-handle {
  width: 5px;
  height: 25px;
  cursor: col-resize;

  display: flex;
  justify-content: flex-start;

}

.col-resizer {
  height: 100%;
  width: 1.25px;
  background-color: rgba(0, 0, 0, 0.12);
  //background-color: green;
}

.insert-like-icon {
  opacity: 0.3;
  transition: opacity 0.3s ease-in;
  cursor: pointer;
  &:hover {
    opacity: 1.0;
  }
}

.filter-icon {
  fill: rgba(0, 0, 0, 0.64);

  &:hover {
    fill: rgba(0, 0, 0, 0.78);
  }

  &:active {
    fill: #000000;
  }
}

constraint-icons {
  // For whatever reason the icons are lower than they should be
  padding-bottom: 5px;
}

.no-data-message {
  margin: 2rem 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
}

.mat-sort-header-container {
  // For the sorting arrow
  align-items: center;
}

.selectable {
  transition: background-color 200ms;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.12);
  }
}
