<h1 class="mat-display-1">
    <table-name [name]="name"></table-name>
    <button
        mat-icon-button
        class="filter-icon"
        [inlineSVG]="'/assets/filter.svg'"
        [title]="showFilters ? 'Hide filters' : 'Show filters'"
        (click)="toggleFilters()"></button>
</h1>

<div *ngIf="tableExists else tableNotFound">
    <h4 class="table-description" *ngIf="meta && meta.comment.trim() !== ''">"{{ meta.comment }}"</h4>

    <filter-manager [hidden]="!showFilters" [meta]="meta" (changed)="onFiltersChanged($event)"></filter-manager>

    <mat-progress-bar [hidden]="!loading" mode="indeterminate"></mat-progress-bar>
    <div class="mat-elevation-z8">
        <div #tableContainer class="table-container">
            <mat-table [dataSource]="dataSource">
                <ng-container *ngFor="let colName of columnNames; let i = index" [matColumnDef]="colName">
                    <mat-header-cell
                        *matHeaderCellDef
                        (click)="onSortRequested(i)">

                        <constraint-icons *ngIf="colName !== '__insertLike'" [constraints]="constraints[colName]"></constraint-icons>
                        <span class="header-cell-name">{{ colName === '__insertLike' ? '' : colName }}</span>

                        <!--
                        Use our custom indicator instead of AngularMaterial's because it renders the sort indicator
                        after the column resizer, where we want it the other way around
                        -->

                        <span *ngIf="i >= 1" class="sort-indicator-wrapper">
                            <sort-indicator></sort-indicator>
                        </span>
                        <span *ngIf="i >= 1" class="col-resizer" (mousedown)="onResizerMouseDown($event)" (click)="onResizerClick($event)"></span>
                    </mat-header-cell>

                    <mat-cell
                        *matCellDef="let row"
                        [class.insert-like-col]="colName === '__insertLike'">

                        <span *ngIf="colName === '__insertLike' else normalCell">
                             <mat-icon
                                 (click)="onInsertLike(row)"
                                 class="insert-like-icon"
                                 title="Copy data to a new form">add_box</mat-icon>
                        </span>

                        <ng-template #normalCell>
                            <span [class.special-cell]="row[colName] === null || isBlob(colName)">{{ row[colName] === null ? 'null' : row[colName] }}</span>
                        </ng-template>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
                <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>
            </mat-table>
        </div>
        <p class="no-data-message" *ngIf="totalRows === 0">There's nothing here ¯\_(ツ)_/¯</p>
        <mat-paginator [length]="totalRows" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
    </div>

</div>

<ng-template #tableNotFound>
    <div class="table-not-found">
        <p>This table doesn't exist or you don't have access to it</p>
    </div>
</ng-template>
