<sidenav [showable]="showable$ | async" [toggleMode]="toggleMode$ | async">
    <!-- Everything inside here will be placed in the sidenav content -->
    <mat-toolbar color="primary">
        <span>
            <button [hidden]="!auth.loggedIn || (toggleMode$ | async) === 'alwaysDisplayed'" mat-button class="sidenav-toggle" (click)="sidenav.toggle()">
                <i class="material-icons mat-light">menu</i>
            </button>
            Helium
        </span>

        <button *ngIf="auth.loggedIn" class="logout-button" mat-button (click)="logout(undefined, false)">Logout</button>
    </mat-toolbar>

    <div class="router-content">
        <router-outlet></router-outlet>
    </div>
</sidenav>
