<md-toolbar color="primary">Helium</md-toolbar>
<md-sidenav-container>
    <md-sidenav mode="side" opened="true" fullscreen>
        <ul class="sidenav-list">
            <li class="header">Tables</li>
            <li class="table-ref" *ngFor="let table of tables">
                <a [routerLink]="['/tables', table]" routerLinkActive="active-router-link">{{ table }}</a>
            </li>
        </ul>
    </md-sidenav>

    <div class="router-content">
        <router-outlet></router-outlet>
    </div>
</md-sidenav-container>
