mat-toolbar {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}

.sidenav-toggle {
  min-width: 24px;
  margin-right: 8px;
}

.router-content {
  display: flex;
  flex-grow: 1;
}
