@import '../assets/palette';

:host {
  display: flex;
  flex-direction: column;

}

md-sidenav-container {
  flex-grow: 1;

  // Enables the scrollbar when main content is too big to fit the screen
  display: flex;
  flex-direction: column;
}

md-sidenav {
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.router-content {
  margin: 15px;
}

.sidenav-list {
  margin: 0;
  padding: 0;

  list-style-type: none;

  li.table-ref {
    display: flex;

    $border: 1px rgba(0, 0, 0, 0.06) solid;
    border-bottom: $border;

    &:first-child {
      border-top: $border;
    }
  }

  li.header {
    background-color: rgba(0, 0, 0, 0.32);
    color: hsla(0, 0%, 100%, 0.87);
    text-transform: uppercase;
    font-size: 10px;
    padding: 6px 16px;
    letter-spacing: 1px;
  }

  a {
    $normal-color: rgba(0, 0, 0, 0.54);

    color: $normal-color;
    line-height: 47px;
    flex-grow: 1;
    text-decoration: none;
    padding: 6px 16px;
    min-width: 200px;

    transition: all 0.3s;

    &:visited {
      color: $normal-color;
    }

    &:hover {
      color: $primary-color;
      background-color: #eaeaea;
    }

    &.active-router-link {
      color: $primary-color-dark;
      font-weight: bold;
    }
  }
}

