@import '../global-styles/palette';

:host {
  display: flex;
  flex-direction: column;
}

md-sidenav-container {
  flex-grow: 1;

  // Enables the scrollbar when main content is too big to fit the screen
  display: flex;
  flex-direction: column;
}

md-sidenav {
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
  // Sidenav must have a fixed width for larger screens to display properly without a manual window resize
  width: 240px;
}

.sidenav-toggle {
  min-width: 24px;
  margin-right: 8px;
}

ul.undecorated-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.router-content {
  margin: 15px;
}

.sidenav-list {
  $normal-color: rgba(0, 0, 0, 0.54);

  .row-item {
    display: flex;
    align-items: center;

    min-width: 200px;

    $border: 1px rgba(0, 0, 0, 0.06) solid;
    border-bottom: $border;

    transition: all 0.3s;

    &:hover {
      background-color: #eaeaea;
    }

    &:first-child {
      border-top: $border;
    }
  }

  .nested-list {
    border-left: 10px rgba(0, 0, 0, 0.24) solid;
  }

  li.table-ref {
    display: flex;
    flex-direction: column;
  }

  .add-data-icon, .table-name {
    padding: 20px 16px;
    transition: all 0.3s;

    &:hover {
      color: $primary-color;
    }
  }

  .active-router-link {
    // A bit hacky
    color: $primary-color-dark !important;
    font-weight: bold;
  }

  .table-name {
    flex-grow: 1;
  }

  li.header {
    background-color: rgba(0, 0, 0, 0.32);
    color: hsla(0, 0%, 100%, 0.87);
    text-transform: uppercase;
    font-size: 10px;
    padding: 6px 16px;
    letter-spacing: 1px;
  }

  a {
    color: $normal-color;
    text-decoration: none;

    &:visited {
      color: $normal-color;
    }
  }
}

