@import '../global-styles/palette';

:host {
  display: flex;
  flex-direction: column;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
}

mat-sidenav-container {
  flex-grow: 1;

  // Enables the scrollbar when main content is too big to fit the screen
  display: flex;
  flex-direction: column;
}

mat-sidenav {
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
  // Sidenav must have a fixed width for larger screens to display properly without a manual window resize
  width: 240px;
}

.schema-selector-container {
  margin: 10px 10px 0 10px;
}

.schema-selector {
  width: 100%;
}

.sidenav-toggle {
  min-width: 24px;
  margin-right: 8px;
}

ul.undecorated-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.router-content {
  margin: 15px;
}

.sidenav-list {
  $normal-color: rgba(0, 0, 0, 0.54);

  a {
    color: $normal-color;
    text-decoration: none;

    &:visited {
      color: $normal-color;
    }
  }
}

.row-item {
  display: flex;
  align-items: center;

  min-width: 200px;

  $border: 1px rgba(0, 0, 0, 0.06) solid;
  border-bottom: $border;

  transition: all 0.3s;

  &:hover {
    background-color: #eaeaea;
  }

  &:first-child {
    border-top: $border;
  }
}

.nested-list {
  border-left: 10px rgba(0, 0, 0, 0.24) solid;
}

li.table-ref {
  display: flex;
  flex-direction: column;
}

.table-name {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 20px 0 20px 16px;
}

.add-data-icon, .table-name {
  transition: all 0.3s;

  &:hover {
    color: $primary-color;
  }
}

.add-data-icon {
  padding: 20px 16px;
}

.active-router-link {
  // A bit hacky
  color: $primary-color-dark !important;
  font-weight: bold;
}

.table-name {
  flex-grow: 1;
}

li.header {
  background-color: rgba(0, 0, 0, 0.32);
  color: hsla(0, 0%, 100%, 0.87);
  text-transform: uppercase;
  font-size: 10px;
  padding: 6px 16px;
  letter-spacing: 1px;
}
