// All global styles go here

@import '~normalize.css/normalize.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

* {
  font-family: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

app {
  height: 100vh;
}

.material-icons {
  color: rgba(0, 0, 0, 0.54);

  &.mat-light {
    color: rgba(255, 255, 255, 0.87);
  }
}

footer {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;

  color: rgba(0, 0, 0, 0.54);

  .app-credit {
    padding: 30px;
  }
}

// Fix some weird styling introduced sometime after @swimlane/ngx-datatable@10.1.0
.datatable-header-cell {
  font-size: 16px !important;
  padding-top: 10px !important;
}

.datatable-footer {
  font-size: 16px !important;
}

[hidden] {
  display: none !important;
}
