<mat-card class="partial-form-wrapper" *ngIf="meta">
    <h1 class="form-title">{{ cleanName }}</h1>
    <div *ngFor="let entryId of ids; index as i" class="form-entry-container">
        <form-entry
            [for]="meta"
            (entryUpdated)="handleEntryChange(i, $event)"
            (removalRequested)="removeEntry(i)"
        ></form-entry>

        <button
            *ngIf="role === 'part'"
            (click)="removeEntry(i)"
            mat-icon-button
            tabindex="-1"
            title="Remove this entry"
        >
            <mat-icon>remove_circle</mat-icon>
        </button>
    </div>

    <button
        *ngIf="role === 'part'"
        class="add-entry-button"
        mat-icon-button
        (click)="addEntry()"
        tabindex="-1"
        title="Add another entry"
    >
        <mat-icon color="primary">add_circle</mat-icon>
    </button>
</mat-card>
