// Remove default padding from the card so the background effect applied to the entry-containers have more significance
$card-padding: 24px;

mat-card {
  padding: 0;

  transition: max-height 300ms ease-in-out;
}

.form-title {
  padding: $card-padding $card-padding 0 $card-padding;
  margin: 3px 0 15px 0;
  font: 400 24px/32px Roboto,"Helvetica Neue",sans-serif;
}

.form-entry-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  padding: $card-padding / 4 $card-padding;

  // Give every other entry a slightly darker background to try to differentiate it from its siblings
  &:nth-child(odd) {
    background: rgba(0, 0, 0, 0.05);
  }
}

.form-entry-container form-entry {
  flex-grow: 1;
}

.add-entry-button {
  margin: $card-padding / 2 $card-padding !important;
}

.remove-entry-button {
  margin-left: $card-padding;
}
