<div class="dynamic-field form-input" [formGroup]="group" [ngSwitch]="config.subtype">
    <div *ngSwitchCase="'checkbox'">
        <md-checkbox color="primary" [formControlName]="config.name">{{ config.label }}</md-checkbox>
    </div>
    <div *ngSwitchCase="'date'">
        <md-input-container>
            <input mdInput [formControlName]="config.name" [mdDatepicker]="datepicker" [placeholder]="config.label" [required]="config.required">
            <button mdSuffix [mdDatepickerToggle]="datepicker"></button>
            <md-error>This field is required</md-error>
        </md-input-container>
        <md-datepicker #datepicker></md-datepicker>
    </div>
    <div *ngSwitchDefault>
        <div *ngIf="config.fetchAutocompleteValues; else noAutocomplete">
            <md-input-container>
                <input [type]="config.subtype" [formControlName]="config.name" [placeholder]="config.label" mdInput [mdAutocomplete]="auto" [required]="config.required">
            </md-input-container>

            <md-autocomplete #auto="mdAutocomplete">
                <md-option *ngFor="let option of filteredValues | async" [value]="option">
                    {{ option }}
                </md-option>
            </md-autocomplete>
        </div>

        <ng-template #noAutocomplete>
            <md-input-container>
                <input [type]="config.subtype" [formControlName]="config.name" [placeholder]="config.label" mdInput [required]="config.required">
                <md-error>This field is required</md-error>
                <md-hint *ngIf="config.hint" align="start">{{ config.hint }}</md-hint>
            </md-input-container>
        </ng-template>
    </div>
</div>
