<span *ngFor="let type of types">
    <span *ngIf="type === 'foreign'; else notFK">
        <span>
            <a class="header-icon"
               [attr.data-constraint-type]="type"
               [title]="infoTextFor(type)"
               [routerLink]="fkRouterLink()">
               <mat-icon [svgIcon]="'app:' + iconFor(type)"></mat-icon>
            </a>
        </span>
    </span>
    <ng-template #notFK>
        <span class="header-icon"
              [attr.data-constraint-type]="type"
              [title]="infoTextFor(type)">
            
            <mat-icon [svgIcon]="'app:' + iconFor(type)"></mat-icon>
        </span>
    </ng-template>
</span>
