// All global styles go here

* {
  font-family: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;

  app {
    flex-grow: 1;
  }
}

.material-icons {
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  color: rgba(0, 0, 0, 0.54);

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  &.md-18 {
    font-size: 18px;
  }
}

footer {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;

  color: rgba(0, 0, 0, 0.54);

  .app-credit {
    padding: 30px;
  }
}
