.centered-horizontally {
  display: flex;
  flex-direction: column;
  align-items: center;
}

$container-width: 500px;

.form-container {
  width: $container-width;
}

.partial-form-container {
  $padding: 15px;
  padding-top: $padding;
  padding-bottom: $padding;
}

@media all and (max-width: $container-width + 100px) {
  .form-container {
    width: 80vw;
  }
}

::ng-deep .mat-form-field {
  width: 100%;
}

::ng-deep .mat-select {
  width: 100%;
}

