:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  flex-grow: 1;
}

$card-width: 300px;

.login-form-card {
  width: $card-width;
}

mat-form-field {
  width: 100%;
}

@media all and (max-width: $card-width + 100px) {
  .form-container {
    width: 80vw;
  }
}
