$card-width: 300px;

.login-form-card {
  max-width: $card-width;
  margin: 0 auto;
}

mat-form-field {
  width: 100%;
}

@media all and (max-width: $card-width + 100px) {
  .form-container {
    width: 80vw;
  }
}

.preview-mode-hint {
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
}
