<mat-card class="login-form-card content-area">
    <form novalidate [formGroup]="form" (ngSubmit)="onLogin(form.value)">
        <div>
            <mat-form-field>
                <input placeholder="Username" matInput formControlName="username" required>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input #password type="password" placeholder="Password" matInput formControlName="password" required>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input placeholder="Host" matInput formControlName="host">
                <mat-error *ngIf="hasError('host', 'host')">That doesn't look like a valid host</mat-error>
            </mat-form-field>
        </div>

        <div>
            <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">Login</button>
        </div>
    </form>
</mat-card>

<p class="preview-mode-msg" *ngIf="previewMode">Hint: Any username, password, and host works in preview mode</p>
<p class="preview-mode-msg" *ngIf="redirect">Your session has expired. Please login to continue.</p>
